gradio>=4.0.0
torch>=2.0.0
torchvision
opencv-python
diffusers>=0.31.0
transformers>=4.40.0
tokenizers
accelerate
tqdm
imageio
easydict
ftfy
imageio-ffmpeg
flash_attn
numpy>=1.23.5,<2
xfuser
moviepy
Pillow